

<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>
          <a href="<%= netlistPath() %>">Net List</a>
          :: <a href="<%= netnewPath() %>">New Net</a>
        </h3>
      </div>
    </div>

      <h3>Schedule a new net</h3>
    <%= if (errors) { %><%= errors %><% } %>
    <%= form_for( net, {action: netlistPath(), method: "POST"}) { %>
    <div class="row">
      <div class="col-md-12">
        <%= f.InputTag("Name") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <b>Start: </b><%= f.DateTimeTag("PlannedStart") %> - <b>End: </b><%= f.DateTimeTag("PlannedEnd") %>
        <button class="btn btn-success" role="submit">Save</button>
      </div>
    </div>
    <% } %>
  </div>
</div>
