.activity-open {
    color: black;
    background-color: #66ff99;
}
.activity-close {
    color: black;
    background-color: #ff9966;
}
.activity-checkin {
    color: black;
    background-color: white;
}
.activity-checkout {
    color: black;
    background-color: #ccffff;
}
.activity-netcontrol {
    background-color: #3399ff;
}

.edithidden {
  display: none;
}